* {
    font-family: 'Oswald', sans-serif;
    box-sizing : border-box;
}

body {
    height               : 100vh;
    margin               : 0px;
    display              : grid;
    grid-template-rows   : 120px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas  : "cabecalho""principal""rodape";
}

.cabecalho {
    grid-area       : cabecalho;
    background-color: #1867c0;
    color           : #ffffff;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    padding-bottom  : 10px;
    z-index         : 50;
    box-shadow      : 0px 4px 9px -2px rgba(0, 0, 0, 0.75);
}

.cabecalho>h1 {
    margin     : 0px;
    font-size  : 2.8rem;
    font-weight: 300;
}

.cabecalho>h2 {
    margin     : 0px;
    font-size  : 1.6rem;
    font-weight: 200;
}

.modulos {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-around;
}

.modulo {
    flex-basis: 32%;
}

.modulo>h3 {
    margin          : 0px;
    color           : #fff;
    font-size       : 1.5rem;
    padding         : 10px 20px;
    background-color: #1867c0;
}

.modulo>ul {
    margin    : 0px;
    padding   : 10px;
    list-style: none;
}

.modulo>ul>li {
    padding  : 7px;
    font-size: 1.2rem;
    cursor   : pointer;
}

.modulo>ul>li>a {
    display        : flex;
    text-decoration: none;
    color          : #222;
}

.modulo>ul>li:hover {
    background-color: #eee;
}

.principal {
    grid-area       : principal;
    height          : calc(100vh - 180px);
    /*Ocuparás 100% da altura, menos 120px do header e 60px do footer*/
    background-color: #f0f0f0;
}

.conteudo {
    position        : relative;
    height          : 100%;
    overflow-y      : scroll;
    background-color: #ffffff;
    padding         : 20px;
    box-shadow      : 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}

.rodape {
    grid-area       : rodape;
    color           : #444;
    background-color: #ffffff;
    text-transform  : uppercase;
    display         : flex;
    justify-content : flex-end;
    align-items     : center;
    font-size       : 1.2rem;
    padding-right   : 20px;
    /*position      : sticky;
    bottom          : 0px; Caso necessite garantir a visibilidade do footer*/
}